---
import { ClubsPropsAdminPages, decode } from '../index'
import AdminSidebar from './AdminSidebar.astro'
import AdminConfigurationManager from './AdminConfigurationManager.astro'
import Aside from './Aside.vue'

import '../styles/global.scss'

const { clubs } = Astro.props as ClubsPropsAdminPages

const config = decode(clubs.encodedClubsConfiguration)
const { name } = config

const enabledPlugins = clubs.plugins
	.filter((plugin) => plugin.enable === true)
	.filter((plugin) => plugin.name.toUpperCase() !== 'ADMIN')
---

<!DOCTYPE html>
<html class="dark" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com" /><link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/><link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@700&family=Syne:wght@700&display=swap"
			rel="stylesheet"
		/>
		<title>{name} | Admin</title>
	</head>

	<body class="font-['DM_Sans'] bg-[#222B3D] text-white min-h-screen">
		<div
			class="grid grid-flow-col auto-cols-[18rem_minmax(auto,_1fr)_12rem] gap-20 mr-20"
		>
			<header
				class="bg-[#111827] grid gap-16 content-start py-16 px-8 min-h-screen"
			>
				<AdminSidebar name={name} enabledPlugins={enabledPlugins}>
					<slot name="sidebar:before-title" slot="before-title" />
				</AdminSidebar>
			</header>
			<main class="container mx-auto py-16">
				<div class="break-words">
					<slot />
				</div>
			</main>
			<div class="py-16">
				<Aside config={config} client:only />
			</div>
			<AdminConfigurationManager {clubs} />
		</div>
	</body>
</html>
